header {
    background-color: rgba(88, 194, 255, 0.835);
    height: 150px;
    padding: 20px 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-decoration: none; 
    text-transform: uppercase;
    color: rgb(219, 155, 71);
    font-size: 22px;
    font-weight: bold;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 70px;
    right: 0;
}
h1 img {
    width: 150px;
}